body{
  background-color:#3598db;
  margin:0;
}

/*MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
.main{
  position:absolute;
  width:1000px;
  height:300px;
  left:50%;
  top:50%;
  margin-top:-150px;
  margin-left:-500px;
  text-align:center;
}
.main h1{
  color:#3483b9;
  font-family:'baron',sans-serif;
  font-size:100px;
  margin-top:0;
}
.main h2{
  color:#3483b9;
  font-family:'baron',sans-serif;
  font-size:40px;
  margin-top:-90px;
  margin-bottom:20px;
}
.main p{
  color:#fff;
  font-family:'prosto',sans-serif;
  line-height:10px;
}
.main .keyValue{
  color:#434343;
}
.main .footer{
  font-size:10px;
}
.main a{
  color:#fff;
  text-decoration:none;
}
.main a:hover{
  color:#c4e0f3 !important;
}

/*HEADER HEADER HEADER HEADER HEADER*/

.header{
  margin-top:-21px;
  height:150px;
  width:100%;
  background-color:#fff;
  padding-top:10px;
  padding-bottom:10px;
}
.header h1{
  color:#3483b9;
  font-family:'baron',sans-serif;
  font-size:100px;
  margin-top:0;
  margin-left:10px;
}
.header h2{
  color:#3483b9;
  font-family:'baron',sans-serif;
  font-size:40px;
  margin-top:-90px;
  margin-bottom:20px;
  margin-left:15px;
}
.header h3{
  color:#3483b9;
  font-family:'baron',sans-serif;
  font-size:20px;
  margin-top:0;
  margin-left:10px;
  right:25px;
  top:65px;
  position:absolute;
}
.header a{
  color:#3483b9;
  text-decoration:none;
}
.header a:hover{
  color:#216da0;
}
